.todo{
    width:80%;
    height:33px;
    padding:10px;
    margin:40px;
    font-size:22px;
    border:1px solid silver;
    border-radius: 11px;
    background:transparent;
    color:white;
    outline:none;
}