.todoContainer{
    margin-top:44px;
    text-align:center;
}

.todo{
    text-align:center;
    width:80%;
    height:33px;
    padding:10px;
    font-size:22px;
    border:1px solid silver;
    border-radius: 11px;
    background:transparent;
    color:white;
    outline:none;
}